@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  margin:0 auto;
  background-color: rgb(190, 91, 91);
}

.navbar h1{
  color: black;
}

.navbar .links{
  margin-left: auto;
}

.navbar a{
  text-decoration: none;
  padding: 6px;
  margin-left: 16px;
  font-size: 20px;
  color: white;
}

.navbar a:hover {
 color:powderblue
}

.content { 
  margin: 40px auto;
  padding: 20px;
  display: flex;

}

.all-pets{
  display: flex;
}
.pet-card{
  /* Napraviti karticu  */
background: white;
 padding:20px;
 margin: 20px;
  border: 2px solid black;
}