@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Home Page */
.home{
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://images.unsplash.com/photo-1560807707-8cc77767d783?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80"); 
   background-size: cover;
   background-position: bottom;
   text-shadow: 0 0.05rem 0.1rem rgba(0,0,0,0.6);
   box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.6);
}
.cover-container{
  max-width: 60vw;
  margin:  20px;
}
.nav-link{
  text-decoration: none;
  padding: 0.25rem 0;
  font-weight: 500;
  color:rgba(255,255,255,0.7) !important;
  margin-left:1rem;
  border-bottom: 0.25rem solid transparent;
}
.nav-link:hover{
  border-bottom-color: rgba(255,255,255,0.7);
  transition: ease-in-out 0.3s;
}
.nav-link.active {
  color: white;
  border-bottom-color:white;
}

div.dropdown-menu.show{
  background: transparent;
  border: none;
  padding: 0.25rem 0;
  border-bottom: 0.25rem solid transparent;
}
a.dropdown-item:hover {
  width:min-content;
  background-color: transparent;
  border-bottom: 0.25rem solid rgba(255,255,255,0.7) !important;
  transition: ease-in-out 0.4s;
}



h1,h2,h3,h4{
  font-weight: 500;
}

/* NAVBAR */

.navbar{
  /* z-index: 1; */
  padding: 20px;
  display: flex;
  align-items: center;
  margin:0 auto;
  background-color: rgb(255, 255, 255);
}

.navbar span{
  color: black;
  font-size: 2rem;
}

.navbar .links{
  margin-right: auto;
}

.navbar a{
  text-decoration: none;
  padding: 6px;
  margin-left: 16px;
  font-size: 20px;
  color: #CA310E;
}

.navbar a:hover {
 color:rgb(95, 140, 146)
}

.navbar1 a{
margin-right: 70px;
 text-decoration: none;
 color: #CA310E !important;
 }

 div.navbar1.nav-item.dropdown{
  
}

 .navbar1 a.dropdown-item{
  
  background-color: blue;
  width: min-content;
  border-bottom: 0.25rem solid #CA310E !important;
  transition: ease-in-out 0.4s;
 }



/* NAVBAR */

.messages{
display: flex;
justify-content: center;
}

.all-pets{
   margin: 0 auto;
   max-width: 1000px;
   display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
   gap:20px;
   font-family: sans-serif;
} 

.card{
margin: 30px auto;
position: relative;
border: none !important;
}

.card-image{
  width: 100%;
  height: 300px;
  border-radius: 50% !important;
  display:block;
  box-shadow: 5px 2px 3px rgba(0,0,0,0.2);
  object-fit: cover;
}

.card a{
  color:rgb(190, 91, 91);
  text-decoration: none;
}

.card img:hover{
  transition: ease-in-out 0.4s;
  transform: scale(1.03);
}

.all-pets a:hover{
  text-decoration: underline;
  color:rgb(190, 91, 91);
}

.card .card-category{
  text-decoration: none !important;
  color: white !important;
  position: absolute;
  background:rgb(190, 91, 91);
  font-size: 2rem;
  width: 100%; 
  top:-60px;
  height: 50px;
  text-align: center;
  color: white;
}



.site-header span{
  font-size: 1.5em;
  color:black;
  padding-bottom: 10px;
}

.site-header{
  height: 200px;
}

.site-header .categories{
  text-align: right;
  display: flex;
  justify-content: end;
  align-items: baseline;
}

.site-header .categories a{
font-size: 2rem;
margin:15px;
}

.site-header button{
  border: none;
  font-size: 0.9rem;
  width: 200px;
  background-color: rgb(190, 91, 91);
  color: white;
  text-transform: uppercase;
}

.site-header button:hover{
 color: powderblue;
 transform: scale(1.01);
}

.card-category button{
  border: none;
  font-size: 0.9rem;
  width: 200px;
  background-color: rgb(190, 91, 91);
  color: white;
  text-transform: uppercase;
}


/* PETDETAILS PAGE */
/* .item{
   height:400px;
  
  } */

.pet-details{
  font-size: 1.2em;
  margin:10px auto;
  width: 100%;
  max-width: 1000px;

  box-sizing: border-box;
}

.pet-name{
  font-family:'Gill Sans',  sans-serif;
  font-size: 4em;
  width: 100%;
  text-align: center;
}

.pet-name span{
  padding: 0 10%;
}

.about-page{
  background-color: #F5F6F5;
}

.about-header{
  width: 100%;
  height: 200px;
  background-color: #4F525C;
}

.about-header h1{
  font-size: 2.5em;
  color:#FFFFFF;
  text-align: center;
  padding: 40px;
}

.about-paper{
  width: 100%;
  height: fit-content;
  background-color: #FFFFFF;
  position: relative;
  top: -80px;
  border-radius: 20px;
}

.about-paper h2{
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  color:#455173;
  letter-spacing: 2px;
}

.about-paper p{
  color: #757575;
  padding: 0 50px;
  word-spacing: 2px;
  font-size: larger;
  word-break: break-all;
  font-weight: 0.1em;
  padding-bottom: 50px;
}

.image-left{
  height: 200px;
  width: 200px ;
  position: relative;
  top:300px ;
  transform: rotateZ(-10deg);
  z-index: 10;
  border: 10px solid #FFFFFF;
  box-shadow:  5px 5px #c7c7c7;
}

.image-right{
  height: 200px;
  width: 200px ;
  position: relative;
  top:100px ;
  right: 20px;
  transform: rotateZ(10deg);
  z-index: 10;
  border: 10px solid #FFFFFF;
  box-shadow:  0 0 5px 5px #c7c7c7;
}

.team{
  display: flex;
  justify-content: center;
}

.team  h2{
  color:#4A4A4A;
  padding: 20px;
}

.team  p{
 text-align: center;
  font-size: 1.3em;
  color: rgba(0, 0, 0,0.5);
  padding-bottom: 50px;
}

.team-details img{
  width: 200px;
  border: 5px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-member-name,
.team-member-position {
 display: flex;
 justify-content: center;
}

.team-member-name{
  color: #CD310E;
}


